@import url('https://fonts.googleapis.com/css?family=Amatic+SC:700|Merriweather:300,400,700,900&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
/*---------------------Background*/
body {
    background-color: rgba(255, 231, 230, 0.2);  
}

header {
    min-height: 100vh;
    padding: 0 2rem;
    width: 100%;
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

/*---------------------Hovers*/

#introduction button:hover {
    background-color:#003df2; 
    
}

#nav-bar a:hover {
    text-decoration: underline;
}

/*---------------------Header*/

#nav-bar {
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    float: right;
    padding-top: 30px;
    font-size: 25px;
    
}

#logo{
    float: left;
    color: #3c0754;
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
    font-size: 40px;
    border: 2px solid;
    padding: 0rem 1.5rem;
    margin-top: 15px;
    margin-left: 40px;
}

#nav-bar a {
    text-decoration: none;
    color: #3c0754;
    padding-right: 40px;
}

#nav-bar .icon {
    display: none;
}

/*--------------------- Introduction*/

#introduction {
    padding-top: 8rem;
    text-align: center;
}

#introduction h1 {
    font-family: 'Amatic SC', sans-serif; 
    font-weight: 700;
    font-size: 100px;
    color: #003df2;
}

hr.solid {
  border-top: 3px solid #003df2;
  margin-left: 30%;
  margin-right: 30%;
}

#introduction h3 {
    padding-top: 30px;
    font-family: 'Merriweather', sans-serif;
    font-size: 20px;
    line-height: 30px;
    padding-bottom: 20px;
    color: #3c0754;
}

#introduction button {
    padding: 10px 20px 10px 20px;
    font-family: 'Merriweather', sans-serif;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    background-color: #78063f;
    letter-spacing: 2px;
    margin-bottom: 30px;
    
}
#intro {
    display: none;
}

#intro p {
    padding: 30px;
    font-family: 'Merriweather', sans-serif;
    background-color: rgba(255, 231, 230, 0.6);
    margin-left: 15%;
    margin-right: 15%;
    line-height: 30px;
    border-radius: 4px;
}

/*---------------------Section Heading*/

.section-heading{
    font-family: 'Merriweather', sans-serif;
    font-weight: 700;
    float: left;
    font-size: 3rem;
    padding-left: 10%;
    text-transform: uppercase;
    color: #3c0754;
    
}

/*---------------------Experience*/

#experience {
    padding-top: 10px;
}

.container {
    padding-top: 80px;
    margin: 0;
    margin-right: 0;
    padding-left: 10%;
    padding-right: 10%;
}

.nav li a {
    position: relative;
    display: block;
    padding: 10px 25px;
    color: #78063f;
    font-size: 4rem;
}

.nav-tabs {
    border-bottom: 2px solid #003df2;
    width: 120%;
}

.nav li a:focus, 
.nav li a:hover {
    background-color:  rgba(255, 231, 230, 0.6);
}

.nav-tabs li.active a, 
.nav-tabs li.active a:focus, 
.nav-tabs li.active a:hover {
    color: white;
    background-color: #003df2;
}

.tab-pane h3{
    font-family: 'Merriweather', sans-serif;
    color: #78063f;
    font-weight: 600;
    
}

.tab-pane p {
    padding: 30px;
    font-family: 'Merriweather', sans-serif;
    background-color: rgba(255, 231, 230, 0.6);
    line-height: 30px;
    border-radius: 4px;
    width: 120%;
}

/*---------------------Work*/

    #work{
        padding-top: 40px;
    }

    .row {
        padding-top: 80px;
        margin: 0;
        padding-left: 10%;
        padding-right: 10%;
    }

    .col-md-6{
        padding: 0;
    }

    .project-img{
        position:relative;
    }

    .image {
        opacity: 1;
        height: 25rem;
        width: 95%;
        margin: 0;
        border-radius: 4px;
        border: 2px solid #003df2;
        box-shadow: 1px 2px 20px rgb(255, 231, 230);
        transition: .5s ease;
        backface-visibility: hidden;
    }

    .hover-text {
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 95%;
        height: 100%;
        margin-left: -1.2rem;
        border-radius: 4px;
        border: 2px solid #78063f;
        transition: .5s ease;
        background-color: rgba(255, 231, 230, 0.6);
        padding-top: 100px;
    }

    .project-description a{
        text-decoration: none;
        color: #003df2;
        font-family: 'Merriweather', sans-serif;
        font-size: 1.5rem;
    }

    .project-img:hover .image  {
        opacity: 0.3;
    }

    .project-img:hover .hover-text{
        opacity: 1;
    }

/*---------------------Github Repos*/

#githubrepos {
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 20px;
    list-style-type: none;
}

#githubrepos li a {
    font-family: 'Merriweather', sans-serif;
    font-weight: 500;
    padding: 6px 9px;
    display: inline;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: 4px;
    color: white;
    background-color: #78063f;
}

#githubrepos li a:hover {
    background-color: #003df2;
}

.other-projects h3{
    font-family: 'Merriweather', sans-serif;
    font-weight: 500;
    padding-left: 10%;
    font-size: 2rem;
    padding-top: 10px;
    color: #3c0754;
}

/*---------------------Responsive Sizing*/

@media screen and (max-width: 600px) {

    #logo {
        margin-top:30px;
    }

  #nav-bar a {
      display: none;
      }

  #nav-bar a.icon {
    display: block;
    float: left;
    font-size: 150%;
    padding-bottom: 30px;
    }

  #nav-bar.responsive {
    position: relative;
    }

  #nav-bar.responsive .icon {
    float: right;
  }

  #nav-bar.responsive a {
    display: block;
    text-align: right;
    padding-bottom: 5px;
  }

}

